<!DOCTYPE html>
{% extends "home.html" %}
{% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Lab4 forms</title>
  </head>
  <body>
      <div class="container">
          <div class="row">
              <form action="" method="POST" accept="utf-8">
                {% csrf_token %}
                <label for = "to">To:</label><br>{{form.to}}<br>
                <label for = "from">From:</label><br>{{form.from}}<br>
                <label for = "title">Title:</label><br>{{form.title}}<br>
                <label for = "message">Message:</label><br>{{form.message}}<br>
                <input type = "submit" value="ADD">
              </form>
            </div>
        </div>
  </body>
  </html>
  {% endblock %}