<!DOCTYPE html>
{% extends "home.html" %}
{% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  background-color: rgb(1, 88, 1);
  border-color: white;
  border-width: 2px;
}

.card:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.938);
}


.container {
  padding: 8px 16px;
}

h5{
	font-size: 1vw;
	margin: 4px auto;
	text-align: justify;
	color: white;


}
</style>
  </head>
  <body style="background-color: lightcyan;">
      {% if note %} 
      {% for word in note %}
      <div class="card">
        <div class="container">
        <h5><b>To: </b>{{ word.to }}</h5>
        <h5><b>From: </b>{{ word.from }}</h5>
        <h5><b>Title: </b>{{ word.title }}</h5>
        <h5><b>Message: </b>{{ word.message }}</h5>
        
      </div></div>
      {% endfor %}
    {% endif %}

  </body>
</html>
{% endblock %}