<!DOCTYPE html>
{% extends "home.html" %}
{% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Note List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>to</th>
        <th>from</th>
        <th>title</th>
        <th>message</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% if note %} 
      {% for word in note %}
        <tr>
        <td>{{ word.to }}</td>
        <td>{{ word.from }}</td>
        <td>{{ word.title }}</td>
        <td>{{ word.message }}</td>
        </tr>
      {% endfor %}
    {% endif %}
      <!-- EXAMPLE SECTION -->
    
      <!-- END SECTION -->
    </table>
  </body>
</html>
{% endblock %}