<html>
    <head>
        <title>{{page_title}}</title>
    </head>
    <body>
        <h1>ANONYMUS PAGE</h1>
        <h2>Selamat Pagi dunia tipu tipu</h2>
        <h2>Halo: {{user}}</h2>
        <ul>
            <li><a href="{% url 'loginView' %}">Login</a></li>
            <!-- <li><a href="{% url 'logoutView' %}">Logout</a></li> -->
        </ul>
        
    </body>
</html>