<html>
    <head>
        <title>{{page_title}}</title>
    </head>
    <body>
        <h1>Selamat Pagi dunia tipu tipu</h1>
        <ul>
            <!-- <li><a href="{% url 'loginView' %}">Login</a></li> -->
            <li><a href="{% url 'logoutView' %}">Logout</a></li>
        </ul>
        <h1>Halo: {{user}}</h1>
        
    </body>
</html>