<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>Npm</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% if friends %} 
      {% for item in friends %}
        <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.npm }}</td>
        <td>{{ item.dob }}</td>
        </tr>
      {% endfor %}
    {% endif %}
      <!-- EXAMPLE SECTION -->
    
      <!-- END SECTION -->
    </table>
  </body>
</html>
