<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lab3 forms</title>
  </head>
  <body>
      <div class="container">
          <div class="row">
              <form action="" method="POST" accept="utf-8">
                {% csrf_token %}
                <label for = "name">nama:</label><br>{{form.name}}<br>
                <label for = "npm">npm:</label><br>{{form.npm}}<br>
                <label for = "dob">dob:</label><br>{{form.dob}}<br>
                <input type = "submit" value="tambah">
              </form>
            </div>
        </div>
  </body>
  </html>