<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>to</th>
        <th>from</th>
        <th>title</th>
        <th>message</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% if note %} 
      {% for word in note %}
        <tr>
        <td>{{ word.to }}</td>
        <td>{{ word.from }}</td>
        <td>{{ word.title }}</td>
        <td>{{ word.message }}</td>
        </tr>
      {% endfor %}
    {% endif %}
      <!-- EXAMPLE SECTION -->
    
      <!-- END SECTION -->
    </table>
  </body>
</html>
